body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-size: 80px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 30px;
    letter-spacing: 3.5px;
    border-bottom: 10px solid red;
    padding: 10px;
    text-align: center;
    width: 80%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
}

td, th {
    text-align: center;
    padding: 10px;
    border: 2px solid #000;
}

th {
    background-color: #f2f2f2;
}
.volverinicio {
    padding: 15px 30px;
    background-color: #4a6fa5;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 19px;
    display: inline-block; /* Agrega esto */
    text-align: center; /* Agrega esto */
    line-height: 1.2; /* Ajusta el espaciado vertical del texto */
    vertical-align: middle; /* Centra verticalmente */
    white-space: nowrap; /* Evita que el texto se rompa en líneas */
    transition: all 0.3s ease; /* Mejora la transición */
}

.volverinicio:hover {
    background-color: #818283;
    transform: translateY(-3px);
}
#btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #222; 
    color: white;
    border: none;
    border-radius: 8px; 
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 22px;
    text-align: center;
}